<!-- <h1>gainsight</h1>
<h3>reethika</h3> -->
<!-- <app-test></app-test>
<app-product></app-product> -->
<!-- <app-product-list></app-product-list> -->
<!-- <app-checkout></app-checkout> -->
<!-- <input type="text" appNumbersOnly= />
<input type="text" appNumbersOnly="4" />
<input type="text" [appNumbersOnly]="count" />-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <app-header></app-header>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/checkout">Checkout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/user">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/orders">Orders</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-login-buttons></app-login-buttons>

<app-currency></app-currency>
<app-loader></app-loader>
<router-outlet></router-outlet>
<!-- <app-github-search></app-github-search>
<app-product-list></app-product-list> -->
